h1,
h2,
h3 {
  text-align: center;
}

.reset-game--button {
  /* border: none; */
  background-color: #34495e;
  border-radius: 10px;
  border: 6px solid #fc766a;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  outline: none;
  padding: 15px 50px;
  text-align: center;
  transition-duration: 0.4s;
}

.reset-game--button:hover {
  background-color: #577986;
}

.game-board {
  background-color: #34495e;
  border-radius: 10px;
  border: 6px solid #2c3e50;
  color: #fff;
  display: grid;
  grid-column-gap: 12px solid #2c3e50;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 600px;
  margin: 20px auto 0;
  width: 600px;
}

.box {
  align-items: center;
  border-radius: 2px;
  border: 6px solid #2c3e50;
  cursor: pointer;
  display: flex;
  font-family: Helvetica;
  font-size: 4em;
  font-weight: bold;
  justify-content: center;
  transition-duration: 0.4s;
}

.box:hover {
  background-color: #466875;
}

@media only screen and (max-width: 600px) {
  .game-board {
    height: 400px;
    margin: 20px 20px 0 20px;
    width: auto;
  }
}
